@model PlayasLimpiasWebApp.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-1" style="color: seashell;">Event Details</h1>

<div style="background-color: #111; padding: 20px; border-radius: 8px;">
    <hr />

    <img src="~/images/@Model.Image" class="rounded" style="max-width:35%; margin-bottom:20px;" alt="...">

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumVolunteersReq)
        </dt>
        <dd class = "col-sm-10">
            <h2>@Html.DisplayFor(model => model.NumVolunteersReq)</h2>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div style="margin-top:50px; margin-bottom:100px;">

    @if(ViewBag.Message == "Success")
    {
        <div class="alert alert-warning" role="alert">
            <p style="transform: rotate(0);">
                Thanks for Volunteerig! You are awesome! <a asp-action="MyEvents" asp-controller="Event" class="text-secondary stretched-link" >See your events here!</a>
            </p>
            <div class="atcb" style="display:none;">
                {
                    "name":"@Model.Name Event",
                    "description":"@Model.Description",
                    "startDate":"@Model.Date.ToString("yyyy-MM-dd")",
                    "endDate":"@Model.Date.AddDays(1).ToString("yyyy-MM-dd")",
                    "location":"@Model.Location",
                    "label":"Set a Reminder",
                    "options":[
                        "Google",
                        "Outlook.com",
                        "Yahoo"
                    ]
                }
            </div>
        </div>

    }

    <a asp-action="Volunteer" asp-controller="Event" asp-route-id="@Model.Id" class="btn btn-warning">Volunteer for this event</a>

    
    <a asp-action="Edit" asp-controller="Event" asp-route-id="@Model.Id" class="btn btn-outline-warning" >Edit</a>
    <br />
    
    <br />
    <a asp-action="Index" class="text-warning">Back to List</a>
</div>
