@model PlayasLimpiasWebApp.Models.EventCollectionViewModel

@{
    ViewData["Title"] = "My Events";
}

<h1class="display-1" style="color: seashell;">My Events</h1class>

@foreach(var item in Model.EventCollection)
{
    <div class="card" style="width: 18rem; display:inline-block; margin:20px;" >
        <img src="~/images/@item.Image" class="card-img-top" alt="...">
        <div class="card-body">
             <h5 class="card-title">@item.Name</h5>
             <h6>@item.Date</h6>
             <p>@item.Description @item.Image</p>
            <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id">Details</a>
        </div>
    </div>
}

<p>
    <a asp-action="Index">View All Events</a>
</p>

