@model PlayasLimpiasWebApp.ViewModels.VolunteeringReportViewModel

@{
    ViewData["Title"] = "Volunteering Report";
}

<h1 class="display-1" style="color: seashell;">Volunteering Report</h1>

<div>
    <div style="background-color: #111; padding: 20px; border-radius: 8px; color:seashell;">
        <h2 style="color:seashell">Overview:</h2>
        <hr />
        <dl class="row"> 
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                Date Generated
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.timeStamp)
            </dd>
            <dt class = "col-sm-2">
                Total Events
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NumActiveEvents)
            </dd>
            <dt class = "col-sm-2">
                Number of active Users
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NumActiveUsers)
            </dd>
            <dt class = "col-sm-2">
                Volunteering
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NumActiveVolunteers)
            </dd>
            <dt class = "col-sm-2">
                Volunteering Percentage
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.VolunteeringPercentage) %
            </dd>
        </dl>
    </div>
    <div style="background-color:seashell; padding: 20px; border-radius: 8px; margin-bottom:100px; margin-top:30px;">
        <h2 style="color:#111">Events with less than 50% participation:</h2>
        <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Volunteers Required
                </th>
                <th>
                    Volunteer Count
                </th>
                <th>
                    Volunteer Quota (%)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var e in @Model.LessThan50PerOfVolunteers) {
            <tr>
                <td>
                    @e.Id
                </td>
                <td>
                    @e.Name
                </td>
                <td>
                    @e.Location
                </td>
                <td>
                    @e.NumVolunteersReq
                </td>
                <td>
                    @e.NumVolunteers
                </td>
                <td>
                    @((int)(((double)e.NumVolunteers/e.NumVolunteersReq)*100))%
                </td>
            
            </tr>
    }
        </tbody>
    </table>

    </div>
</div>